{% extends "base.html" %}
{% load static %}

{% block title %}
My Blog
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/index.css" %}"
{% endblock %}

{% block content %}
    <header id="main-navigation">
        <h1>
            <a href="">Max' Blog</a>
        </h1>
        <nav>
            <a href="">
                All Posts
            </a>
        </nav>
    </header>
    <section id="welcome">
        <header>
            <img src="" alt="Garth - The Author of This Blog">
            <h2>Garth's Blog</h2>
        </header>
        <p>Hi, I am Grath this is my garden blog</p>
    </section>

    <section id="latest-posts">
        <h2>My Latest Thoughts</h2>
        <ul>
            <li>
                <article class="post">
                   <a href="">
                       <img src="" alt="Mountain Hiking">
                       <div clas="post__content">
                        <h3>Types of Soils</h3>
                        <p>There are 12 different soil orders in the USA</p>
                       </div>
                   </a> 
                </article>
            </li>
        </ul>
    </section>
    <section id="about">
        <h2>What I do</h2>
        <p>I love programming, gardening, music, etc!</p>
        <p>My goal is to keep on growing as a developer and gardener</p>
    </section>

{% endblock %}