{% extends "base.html" %}
{% load static %}

{% block title %}
My Blog
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post.css" %}" />
    <link rel="stylesheet" href="{% static "blog/index.css" %}" />
{% endblock %}

{% block content %}

    <section id="welcome">
        <header>
            <img src="{% static 'blog/images/gardening-1.jpg' %}" alt="Garth - The Author of This Blog">
            <h2>Garth's Blog</h2>
        </header>
        <p>Hi, I am Grath this is my garden blog</p>
    </section>

    <section id="latest-posts">
        <h2>My Latest Thoughts</h2>
        <ul>

        </ul>
    </section>
    <section id="about">
        <h2>What I do</h2>
        <p>I love programming, gardening, music, etc!</p>
        <p>My goal is to keep on growing as a developer and gardener</p>
    </section>

{% endblock %}